<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/appointment-list">Lista de citas </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Añadir intervención</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form (ngSubmit)="submit()" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles del paciente</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Nombre <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.name}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Apellidos <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.lastName}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Género <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.gender}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Teléfono <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Correo electrónico <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.email}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>Dirección <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.address}}, {{user.city}},
                                            {{user.postalCode}}, {{user.country}}</span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles de la intervención</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Motivo de la cita <span class="login-danger">*</span></label>
                                        <input type="text" class="form-control" [ngModel]="descriptionAppointment" name="descriptionAppointment"
                                            required readonly disabled>
                                    </div>
                                </div>
                                

                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-top-form">
                                        <label class="local-top">Fichero adjunto <span
                                                class="login-danger">*</span></label>
                                        <div class="settings-btn upload-files-avator">
                                            <div *ngIf="selectedFileName">{{ selectedFileName }}</div>
                                            <input type="file" name="file" id="file" (change)="onFileSelected($event)"
                                                class="hide-input" accept="application/pdf">
                                            <label for="file" class="upload">Elegir fichero</label>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-12 col-xl-12">
                                    <div class="form-group local-forms">
                                        <label>Informe de la intervención <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30" [(ngModel)]="type" name="type"></textarea>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button class="btn btn-outline-success submit-form me-2" (click)="generarInforme($event)">Generar informe</button>
                                        <button type="submit" class="btn btn-primary submit-form me-2">Guardar</button>
                                        <button type="submit" class="btn btn-primary cancel-form"
                                            (click)="back()">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>