<div class="page-wrapper">
  <div class="content">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio </a></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Citación</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <!-- Table Header -->
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Lista de pacientes</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input type="text" class="form-control" [formControl]="control" placeholder="Buscar paciente">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group">
                        <a class="btn btn2 ms-2" (click)="togglePatientView()">
                          {{ showingAllUsers ? 'Mostrar mis pacientes' : 'Mostrar todos los pacientes' }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Table Header -->

            <div class="table-responsive" *ngIf="!loading">
              <table class="table border-0 custom-table comman-table datatable mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="checkbox">
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something">
                      </div>
                    </th>
                    <th mat-sort-header="name">Nombre</th>
                    <th mat-sort-header="lastName">Apellidos</th>
                    <th mat-sort-header="dni">DNI</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let patient of patientsList | paginate: { itemsPerPage: 5, currentPage: page }">
                    <td>
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something">
                      </div>
                    </td>
                    <td class="profile-image"><a routerLink="/add-appointment/{{patient.id}}"><img width="28"
                          height="28" [src]="profileAvatarUrls[patient.id]" class="rounded-circle m-r-5" alt="">
                        {{patient.name}}</a></td>
                    <td>{{patient.lastName}}</td>
                    <td>{{patient.username}}</td>
                    <td class="text-end">
                      <div class="dropdown dropdown-action">
                        <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                          aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" routerLink="/add-appointment/{{patient.id}}"><i
                              class="fa-solid fa-pen-to-square m-r-5"></i> Dar cita</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
              </pagination-controls>

            </div>

            <!-- LOADING -->
            <div *ngIf="loading" fxLayoutAlign="center">
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>