<div class="main-wrapper login-body">
    <div class="container-fluid px-0">
        <div class="row">
        
            <!-- Login logo -->
            <div class="col-lg-6 login-wrap">
                <div class="login-sec">
                    <div class="log-img">
                        <img class="img-fluid" src="assets/img/login-02.png" alt="Logo">
                    </div>
                </div>
            </div>
            <!-- /Login logo -->
            
            <!-- Login Content -->
            <div class="col-lg-6 login-wrap-bg">
                <div class="login-wrapper">
                    <div class="loginbox">								
                        <div class="login-right">
                            <div class="login-right-wrap">
                                <h2>Restablecer contraseña</h2>
                                <div *ngIf="emailError" class="alert alert-danger">
                                    El campo de correo electrónico no puede estar vacío.
                                </div>
                                <div *ngIf="userNotFoundError" class="alert alert-warning">
                                    No se encontró una cuenta asociada a este correo electrónico.
                                </div>
                                <!-- Form -->
                                <div>
                                    <div class="form-group">
                                        <label >Correo electrónico <span class="login-danger">*</span></label>
                                        <input #email class="form-control" type="text" >
                                    </div>
                                    <div class="form-group login-btn">
                                        <button (click)="resetPassword(email.value)" class="btn btn-primary btn-block" type="submit">Restablecer contraseña</button>
                                    </div>
                                </div>
                                <!-- /Form -->
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- /Login Content -->
            
        </div>
    </div>
</div>