<div class="page-wrapper">
    <div class="content">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.appointmentList">Cita </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar cita</li>
                    </ul>
                </div>

                <!-- Solo el doctor podrá editar las citas-->
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">
            
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles del paciente</h4>
                                    </div>
                                </div>
                                <!-- Los datos del paciente y de la cita deben aparecer -->
                                <div class="col-12 col-md-6 col-xl-4">  
                                    <div class="form-group local-forms">
                                        <label >Nombre <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Stephen" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Apellido <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="Bruklin" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group select-gender">
                                        <label class="gen-label">Género<span class="login-danger">*</span></label>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="gender" class="form-check-input" checked>Masculino
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" name="gender" class="form-check-input">Femenino
                                            </label>
                                        </div>
                                </div>
                                        <label >Móvil <span class="login-danger">*</span></label>
                                        <input class="form-control" type="text" value="+1 23 456890" >
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Correo electrónico <span class="login-danger">*</span></label>
                                        <input class="form-control" type="email" value="stephen@gmail.com" >
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>Dirección  <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30">101, Elanxa Apartments, 340 N Madison Avenue</textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles de la cita</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label >Fecha de la reserva <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" type="text" [formControl]="date" matInput  [matDatepicker]="picker">
                                        <mat-datepicker #picker></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Desde <span class="login-danger">*</span></label>
                                        <div class="time-icon">
                                            <input type="text"  class="form-control" [ngxTimepicker]="default1" [value]="'7:00 PM'">
                                            <ngx-material-timepicker #default1></ngx-material-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Hasta <span class="login-danger">*</span></label>
                                        <div class="time-icon">
                                            <input type="text"  class="form-control" [ngxTimepicker]="default2" [value]="'08:00 PM'">
                                            <ngx-material-timepicker #default2></ngx-material-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Tratamiento</label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Seleccionar tratamiento">
                                            <mat-option *ngFor="let data of selectedList" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label >Treatment </label>
                                        <input class="form-control" type="text" value="Blood Pressure" >
                                    </div>
                                </div> -->
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>Nota  <span class="login-danger">*</span></label>
                                        <textarea class="form-control" rows="3" cols="30">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam, quriesstrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2">Actualizar</button>
                                        <button type="submit" class="btn btn-primary cancel-form">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>					
        </div>
    </div>
</div>