<!-- sidebar.component.html -->

<div *ngIf="authService.isLogged()" class="sidebar">
  <h2 class="sidebarNew"> Menú</h2>
  <div ngbDropdown class="sidebarNew">
    <a type="button" class="btn btn-outline-primary bto" routerLink="/dashboard">Inicio </a>

    <button *ngIf="authService.isAdmin()" type="button" class="btn btn-outline-primary bto" id="dropdownBasic1" ngbDropdownToggle>
      Pacientes
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <a routerLink="/patient-list" ngbDropdownItem>Lista de pacientes</a>
      <a routerLink="/add-patient" ngbDropdownItem>Dar de alta paciente</a>
      <a routerLink="/userList" ngbDropdownItem>(PONER ALGO)</a>
      
    </div>
  </div>
</div>