<div class="page-wrapper">
  <div class="content">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio </a></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Lista de pacientes</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">

        <div class="card card-table show-entire">
          <div class="card-body">

            <!-- Table Header -->
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Lista de pacientes</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <input type="text" class="form-control" [formControl]="control" placeholder="Buscar paciente">
                        <a class="btn"><img src="assets/img/icons/search-normal.svg" alt=""></a>
                      </div>
                      <div class="add-group">
                        <a routerLink="/add-patient" class="btn btn-primary add-pluss ms-2"><img
                            src="assets/img/icons/plus.svg" alt=""></a>
                        <a (click)="reload()" class="btn btn-primary doctor-refresh ms-2"><img
                            src="assets/img/icons/re-fresh.svg" alt=""></a>
                        <a class="btn btn2 ms-2" (click)="togglePatientView()">
                          {{ showingAllUsers ? 'Mostrar mis pacientes' : 'Mostrar todos los pacientes' }}
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp">
                  <a style="cursor: pointer;" (click)="exportPDF()" class=" me-2"><img
                      src="assets/img/icons/pdf-icon-01.svg" alt=""></a>
                  <a style="cursor: pointer;" (click)="exportExcel()" class="me-2"><img
                      src="assets/img/icons/pdf-icon-04.svg" alt=""></a>
                </div>
              </div>
            </div>
            <!-- /Table Header -->

            <div class="table-responsive" *ngIf="!loading">

              <table #table id="table" class="table border-0 custom-table comman-table datatable mb-0">
                <thead>
                  <tr>
                    <th mat-sort-header="checkbox">
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something">
                      </div>
                    </th>
                    <th mat-sort-header="name">Nombre</th>
                    <th mat-sort-header="lastName">Apellidos</th>
                    <th mat-sort-header="dni">DNI</th>
                    <th mat-sort-header="mobile">Teléfono</th>
                    <th mat-sort-header="email">Correo electrónico</th>
                    <th mat-sort-header="birth">Fecha de nacimiento</th>
                    <th mat-sort-header="gender">Género</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>
                  <div *ngIf="noResults">
                    <p>No hay resultados coincidentes</p>
                  </div>
                  <tr *ngFor="let patient of patientsList | paginate: { itemsPerPage: 5, currentPage: page }">
                    <td>
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something">
                      </div>
                    </td>
                    <td class="profile-image"><a routerLink="/profile/{{patient.id}}"><img width="28" height="28"
                          [src]="profileAvatarUrls[patient.id]" class="rounded-circle m-r-5" alt="">
                        {{patient.name}}</a></td>
                    <td>{{patient.lastName}}</td>
                    <td>{{patient.username}}</td>
                    <td><a href="javascript:;">{{patient.phone}}</a></td>
                    <td>{{patient.email}}</td>
                    <td>{{patient.birth}}</td>
                    <td>{{patient.gender}}</td>
                    <td class="text-end">
                      <div class="dropdown dropdown-action">
                        <a href="javascript:void(0);" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                          aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-end">
                          <a class="dropdown-item" routerLink="/edit-patient/{{patient.id}}"><i
                              class="fa-solid fa-pen-to-square m-r-5"></i> Editar paciente</a>
                          <a class="dropdown-item" routerLink="/add-appointment/{{patient.id}}"><i
                              class="fa-solid fa-pen m-r-5"></i> Dar cita</a>
                          <a class="dropdown-item" (click)="showModalDelete(patient)" data-bs-toggle="modal"
                            data-bs-target="#delete_patient"><i class="fa fa-trash-alt m-r-5"></i> Eliminar paciente</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente">
              </pagination-controls>

            </div>

            <!-- LOADING -->
            <div *ngIf="loading" fxLayoutAlign="center">
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-dark" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            <div fxLayoutAlign="center" *ngIf="!loading">

          </div>
        </div>
      </div>
    </div>
  </div>