<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/patient-list">Lista de pacientes </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Dar de alta paciente</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <h4 class="card-title">Datos personales</h4>
                    <br>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Nombre</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" [(ngModel)]="name" name="name" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Apellidos</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" [(ngModel)]="lastName" name="lastName"
                                            required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Género</label>
                                    <div class="col-md-9">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender" id="gender_male"
                                                value="Masculino" checked [(ngModel)]="gender" name="gender" required>
                                            <label class="form-check-label" for="gender_male">
                                                Masculino
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="gender"
                                                id="gender_female" value="Femenino" [(ngModel)]="gender" name="gender"
                                                required>
                                            <label class="form-check-label" for="gender_female">
                                                Femenino
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Teléfono</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" [(ngModel)]="phone" name="phone"
                                            #phoneInput="ngModel" required pattern=".{9}">
                                        <div *ngIf="phoneInput.errors && (phoneInput.dirty || phoneInput.touched)"
                                            class="alert alert-danger">
                                            El teléfono debe tener 9 caracteres.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Documento Nacional de Identidad (DNI)</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" [(ngModel)]="username" name="username"
                                            #dniInput="ngModel" required pattern=".{9}">
                                        <div *ngIf="dniInput.errors && (dniInput.dirty || dniInput.touched)"
                                            class="alert alert-danger">
                                            El DNI debe tener 9 caracteres.
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Correo electrónico</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" [(ngModel)]="email" name="email"
                                            #emailInput="ngModel" required
                                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">
                                        <div *ngIf="emailInput.errors && (emailInput.dirty || emailInput.touched)"
                                            class="alert alert-danger">
                                            El formato del correo electrónico es incorrecto.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Fecha de nacimiento</label>
                                    <div class="col-md-9">
                                        <input type="date" class="form-control" [(ngModel)]="birth" name="birth"
                                            required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Dirección</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" [(ngModel)]="address" name="address"
                                            required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Ciudad</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" [(ngModel)]="city" name="city" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">País</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" [(ngModel)]="country" name="country"
                                            required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label">Código postal</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" [(ngModel)]="postalCode"
                                            name="postalCode" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary" (click)="addPatient()">Añadir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>