<!-- Main Wrapper -->
<div *ngIf="authService.isLogged()">
    <div class="page-wrapper" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh">
        <h2> ¡Ya estás iniciado/a! ;) </h2>
        <button class="btn btn-primary btn-block" routerLink="/dashboard"> Ir a inicio </button>
      </div>
      
</div>
<div *ngIf="!authService.isLogged()">

    <div class="main-wrapper login-body">
        <div class="container-fluid px-0">
            <div class="row">

                <!-- Login logo -->
                <div class="col-lg-6 login-wrap">
                    <div class="login-sec">
                        <div class="log-img">
                            <img class="img-fluid" src="assets/img/login-02.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <!-- /Login logo -->

                <!-- Login Content -->
                <div class="col-lg-6 login-wrap-bg">
                    <div class="login-wrapper">
                        <div class="loginbox">
                            <div class="login-right">
                                <div class="login-right-wrap">
                                    <div class="account-logo">
                                        <img class="logo" src="assets/img/favicon.png" alt="">
                                    </div>
                                    <h2>Iniciar sesión</h2>

                                    <div *ngIf="loginError" class="alert alert-danger">
                                        Usuario o contraseña incorrectos.
                                    </div>
                                    <div *ngIf="emptyFields" class="alert alert-warning">
                                        Todos los campos son obligatorios.
                                    </div>

                                    <!-- Form -->
                                    <form (ngSubmit)="onLogin(username.value, password.value)">
                                        <div class="form-group">
                                            <label>Correo electrónico <span class="login-danger">*</span></label>
                                            <input #username class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label>Contraseña <span class="login-danger">*</span></label>
                                            <input #password class="form-control pass-input" type="password">
                                            <span class="profile-views feather-eye-off toggle-password"></span>
                                        </div>
                                        <div class="forgotpass">
                                            <a routerLink="/forgot-password">¿Has olvidado la contraseña?</a>
                                        </div>
                                        <div class="form-group login-btn">
                                            <button class="btn btn-primary btn-block"
                                                type="submit">Acceder</button>
                                        </div>
                                    </form>
                                    <!-- /Form -->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /Login Content -->

            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
</div>