<div class="page-wrapper">
    <div class="content">
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.adminDashboard">Inicio </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Editar perfil</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <form>
            <div class="card-box">
                <h3 class="card-title">Información básica</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-img-wrap">
                            <img class="inline-block" src="assets/img/user.jpg" alt="user">
                            <div class="fileupload btn">
                                <span class="btn-text">Seleccionar</span>
                                <input class="upload" type="file">
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <!-- Deben aparecer los datos del usuario que ha iniciado sesión -->
                                <div class="col-md-6">
                                    <div class="form-group local-forms">
                                        <label class="focus-label">Nombre</label>
                                        <input type="text" class="form-control floating" value="John">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group local-forms">
                                        <label class="focus-label">Apellidos</label>
                                        <input type="text" class="form-control floating" value="Doe">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group local-forms ">
                                        <label class="focus-label">Fecha de nacimiento</label>
                                        <div>
                                            <input class="form-control floating datetimepicker" type="text" [formControl]="date" matInput matInput [matDatepicker]="picker1">
                                            <mat-datepicker #picker1></mat-datepicker>
                                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group local-forms">
                                        <label class="focus-label">Género</label>
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Seleccionar género">
                                            <mat-option *ngFor="let data of selectedList" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box">
                <h3 class="card-title">Información de contacto</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group local-forms">
                            <label class="focus-label">Dirección</label>
                            <input type="text" class="form-control floating" value="4487 Snowbird Lane">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group local-forms">
                            <label class="focus-label">Ciudad</label>
                            <input type="text" class="form-control floating" value="New York">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group local-forms">
                            <label class="focus-label">País</label>
                            <input type="text" class="form-control floating" value="United States">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group local-forms">
                            <label class="focus-label">Código postal</label>
                            <input type="text" class="form-control floating" value="10523">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group local-forms">
                            <label class="focus-label">Número de teléfono</label>
                            <input type="text" class="form-control floating" value="631-889-3206">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="text-center m-t-20">
                <button class="btn btn-primary submit-btn" type="button">Guardar</button>
                <br>
            </div>
        </form>
    </div>
</div>