<div class="page-wrapper">
    <div class="content">

        <div class="row">
            <div class="col-sm-7 col-6">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Inicio </a></li>
                    <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                    <li class="breadcrumb-item active">Mi perfil</li>
                </ul>
            </div>

            <div class="col-sm-5 col-6 text-end m-b-30">
                <a routerLink="/editprofile" class="btn btn-outline-primary btn-rounded"><i class="fa fa-plus"></i>
                    Editar
                    perfil</a>
            </div>
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="!isAdmin && !authService.isDoctor()" class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img" *ngIf="!(authService.isAdmin() || authService.isSuperAdmin() || authService.isDoctor())">
                                <a href="javascript:void(0);"><img class="avatar" [src]="profileAvatarUrls" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="profile-img" *ngIf="(authService.isAdmin() || authService.isSuperAdmin() || authService.isDoctor())">
                                    <a href="javascript:void(0);"><img class="avatar" [src]="profileAvatarUrls" alt=""></a>
                                </div>
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">{{user.name}}
                                            {{user.lastName}}</h3>
                                        <div>DNI: {{user.username}}</div>
                                    </div>
                                </div>
                                <div class="col-md-7" *ngIf="!authService.isSuperAdmin()">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Teléfono:</span>
                                            <span class="text">{{user.phone}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Correo electrónico:</span>
                                            <span class="text">{{user.email}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Fecha de nacimiento:</span>
                                            <span class="text">{{user.birth}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Dirección:</span>
                                            <span class="text">{{user.address}},
                                                {{user.city}},
                                                {{user.postalCode}},
                                                {{user.country}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Género:</span>
                                            <span class="text">{{user.gender}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Doctor asignado:</span>
                                            <span class="text" *ngIf="doctorAsignated != null">{{doctorAsignated.name}} {{doctorAsignated.lastName}}</span>
                                            <span class="text" *ngIf="doctorAsignated == null">No tiene doctor asignado</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isAdmin || authService.isDoctor()" class="profile-view">
                        <div class="user-img">
                            <div class="profile-img">
                                <a href="javascript:void(0);"><img class="avatar" [src]="profileAvatarUrls" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">{{user.name}}
                                            {{user.lastName}}</h3>
                                        <div>DNI: {{user.username}}</div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Correo electrónico:</span>
                                            <span class="text">{{user.email}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-tabs" *ngIf="!(authService.isAdmin() || authService.isSuperAdmin() || authService.isDoctor())">
            <ul class="nav nav-tabs nav-tabs-bottom">
                <li class="nav-item"><a class="nav-link active" href="#historyIntervention"
                        data-bs-toggle="tab">Historial
                        médico</a></li>
                <li class="nav-item"><a class="nav-link" href="#documents" data-bs-toggle="tab">Documentos</a></li>
                <li class="nav-item"><a class="nav-link" href="#historyAppointment" data-bs-toggle="tab">Historial de
                        citas</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane show active" id="historyIntervention">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h3 class="card-title">Registro de intervenciones</h3>
                                <div *ngIf="(interventions.length === 0)">
                                    <p>{{user.name}} {{user.lastName}} no ha tenido intervenciones</p>
                                </div>
                                <div class="experience-box"
                                    *ngFor="let intervention of interventions | paginate: { itemsPerPage: 5, currentPage: page }">
                                    <ul class="experience-list">
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle int"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <a routerLink="/documents/{{intervention.id}}">{{intervention.appointment.description}}</a>
                                                    <!-- Esto llevará justamente los documentos de esa intervención -->
                                                    <span class="time">{{intervention.interventionDate |
                                                        date:'dd-MM-yyyy'}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <pagination-controls (pageChange)="page = $event" previousLabel="Anterior"
                                nextLabel="Siguiente">
                            </pagination-controls>
                            <p> ** Para visualizar más detalles sobre la intervención haga click en la intervención
                                deseada </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="documents">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h3 class="card-title">Documentos</h3>
                                <div *ngIf="(documents.length === 0)">
                                    <p>{{user.name}} {{user.lastName}} no tiene documentos</p>
                                </div>
                                <div class="experience-box" *ngFor="let document of documents">
                                    <ul class="experience-list">
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle doc"></div>
                                            </div>
                                            <div class="experience-content">
                                                <div class="timeline-content">
                                                    <span class="">{{document.intervention.appointment.description}} - </span>
                                                    <a style="cursor: pointer;"
                                                        (click)="download(document.id)">{{document.fileName}}</a>
                                                    <span class="time">{{document.creationDate|
                                                        date:'dd-MM-yyyy'}}</span>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p> ** Para visualizar más detalles sobre la intervención haga click en la intervención
                                deseada </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="historyAppointment">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-box">
                                <h3 class="card-title">Registro de citas</h3>
                                <div *ngIf="(appointmentsUser.length === 0)">
                                    <p>{{user.name}} {{user.lastName}} no tiene historial de citas</p>
                                </div>
                                <div class="experience-box" *ngFor="let appointment of appointmentsUser">
                                    <ul class="experience-list">
                                        <li>
                                            <div class="experience-user">
                                                <div class="before-circle appoi"></div>
                                            </div>
                                            <div style="color: black;" class="experience-content">
                                                <div class="timeline-content">
                                                    <span class="">{{appointment.description}} - </span><span
                                                        *ngIf="appointment.completed">REALIZADA </span><img
                                                        style="width: 25px;" *ngIf="appointment.completed"
                                                        src="../../../../assets/icons/tick.png" alt="Completed">
                                                    <span style="color: red;" *ngIf="!appointment.completed">NO
                                                        REALIZADA </span><img style="width: 25px;"
                                                        *ngIf="!appointment.completed"
                                                        src="../../../../assets/icons/reloj-de-arena.png"
                                                        alt="not Completed">
                                                    <span class="time">{{appointment.bookDate |
                                                        date:'dd/MM/yyyy'}} - {{appointment.fromDate |
                                                        slice:0:5}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p> ** Para visualizar más detalles sobre la intervención haga click en la intervención
                                deseada </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <button class="btn btn-success" style="position: fixed; bottom: 20px; right: 20px" (click)="exportPDF()">
        Descargar intervenciones</button> -->
</div>

<!-- <a href="https://www.flaticon.es/iconos-gratis/garrapata" title="garrapata iconos">Garrapata iconos creados por Octopocto - Flaticon</a> -->