<div class="page-wrapper">
    <div class="content">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/patient-list">Pacientes </a></li>
                        <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
                        <li class="breadcrumb-item active">Dar cita</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <div class="row">
            <div class="col-sm-12">

                <div class="card">
                    <div class="card-body">
                        <form>

                            <div class="row">
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles del paciente</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Nombre <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.name}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Apellidos <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.lastName}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-4">
                                    <div class="form-group local-forms">
                                        <label>Género <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.gender}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Teléfono <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.phone}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Correo electrónico <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.email}}</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>Dirección <span class="login-danger">*</span></label>
                                        <span type="text" class="form-control floating">{{user.address}}, {{user.city}},
                                            {{user.postalCode}}, {{user.country}}</span>
                                        <!-- <span type="text" class="form-control floating">direccion</span> -->
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-heading">
                                        <h4>Detalles de la cita</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Día <span class="login-danger">*</span></label>
                                        <input class="form-control datetimepicker" type="date" [(ngModel)]="bookDate"
                                            name="bookDate" required>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Desde <span class="login-danger">*</span></label>
                                        <input type="time" class="form-control" [(ngModel)]="fromDate" name="fromDate"
                                            required>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Motivo <span class="login-danger">*</span></label>
                                        <select class="form-control" [(ngModel)]="description"
                                            (ngModelChange)="onDescriptionChange()" name="description" required>
                                            <option value="">Seleccione un motivo</option>
                                            <option value="Mantenimiento y Prevención">Mantenimiento y Prevención
                                            </option>
                                            <option value="Problemas Comunes y Tratamientos de Rutina">Problemas Comunes
                                                y Tratamientos de Rutina</option>
                                            <option value="Ortodoncia y Estética Dental">Ortodoncia y Estética Dental
                                            </option>
                                            <option value="Procedimientos Quirúrgicos y Restauradores">Procedimientos
                                                Quirúrgicos y Restauradores</option>
                                            <option value="Problemas Específicos y Emergencias">Problemas Específicos y
                                                Emergencias</option>
                                            <option value="Otros">Otros</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-xl-6">
                                    <div class="form-group local-forms">
                                        <label>Hasta <span class="login-danger">*</span></label>
                                        <input type="time" class="form-control" [ngModel]="toDate" name="toDate"
                                            required readonly disabled>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group local-forms">
                                        <label>Nota adicional</label>
                                        <textarea class="form-control" rows="3" cols="30" [(ngModel)]="additionalNote"
                                            name="additionalNote"></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="doctor-submit text-end">
                                        <button type="submit" class="btn btn-primary submit-form me-2"
                                            (click)="addAppointment()">Añadir</button>
                                        <button type="submit" class="btn btn-primary cancel-form"
                                            (click)="back()">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>